<html>
    <head>
        <center><h1 id="h1">Favorites Based On Age</h1></center> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <body>
            <center><form action="predict" method="GET">
            <input type="text" placeholder="Enter Your Age: " name = "age">
            <input class="btn-success" type="submit" value="predict">
            <h2>result: {{res}}</h2>
            </form></center>
        </body>
    </head>
</html>